
<div class="row">
  <div class="col">
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"
                >
    </datepicker>
  </div>
</div>

<div>
  <div class="col">
    {{ getMoment() }}
  </div>
</div>
