<div class="container">

  <!-- Create a placeholder for the modal component -->
  <template ngbModalContainer></template>

  <!-- Navigation -->
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/schedule">Schedule</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/date">Date</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- /Navigation -->

  <!-- Page content -->
  <router-outlet></router-outlet>
  <!-- /Page content -->

</div>
