
<p>
  If using Bootstrap responsive navbar with dropdown menu, bootstrap.min.js must come after fullcalendar.min.js
  in the list of script includes in angular-cli.json.
</p>

<div class="row">
  <div class="col">
    <p-schedule [events]="events" [header]="false" [defaultView]="'agendaWeek'"
                [allDaySlot]="false" [editable]="true" [locale]="locale"
                (onDayClick)="handleDayClick($event)"
                (onEventResize)="handleEventResize($event)"
                (onEventDrop)="handleEventDrop($event)"
                (onEventClick)="handleEventClick($event)"></p-schedule>
  </div>
</div>

<div class="row">
  <div class="col">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel id="jsonFormatted">
        <template ngbPanelTitle>
          JSON, formatted
        </template>
        <template ngbPanelContent>
          <pre>{{ events | json }}</pre>
        </template>
      </ngb-panel>
      <ngb-panel title="JSON, compact" id="jsonCompact">
        <template ngbPanelContent>
          {{ events | json }}
        </template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
